<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Experation App</title>
    <!-- Vuetify Needed CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- <link href="Assets/CSS/materialdesignicons.min.css" rel="stylesheet"> -->
    <link href="Assets/CSS/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="Assets/CSS/style.css">
</head>
<body>
    <!-- Vue App -->
    <!-- #region -->
    <div id="app">
        <!-- Vuetify App -->
        <v-app>
            <!-- Navigation/App Bar -->
            <v-app-bar app color="teal darken-1" dark>
                <!-- Side Drawer Icon -->
                <v-app-bar-nav-icon @click="sideDrawer = !sideDrawer"></v-app-bar-nav-icon>

                <!-- Title -->
                <v-toolbar-title>{{ title }}</v-toolbar-title>

                <v-spacer></v-spacer>

                <!-- Buttons -->
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on" href="https://github.com/ajdlc/food-expiration-app" target="_blank" class="mr-3">
                            <v-img src="./Assets/icons/gh.png" contain height="30px" width="30px"></v-img>
                        </v-btn>
                    </template>
                    <span>Github</span>
                </v-tooltip>

            </v-app-bar>

            <!-- Side Drawer -->
            <v-navigation-drawer app v-model="sideDrawer" temporary>
                <v-list>
                    <v-list-item-group>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>Home</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <!-- Content -->
            <v-content>
                <v-container>
                    <!-- V-container = Bootstrap Container = wrapper div == equal padding around the entire page and allows for flexbox and CSS grids inside of it -->

                    <!-- Add new Items Form -->
                    <v-row justify="center" class="mt-5">
                        <v-card elevation=8 class="pa-8" shaped>
                            <v-form>
                                <v-col cols=12 class="text-center display-2">
                                    Add New Item Into Fridge
                                </v-col>
                                <!-- Name -->
                                <v-col cols=10 class="mx-auto">
                                    <v-text-field v-model="newItem.name" label="Name" placeholder="Enter Name"></v-text-field>
                                </v-col>
        
                                <!-- Expiration Date -->
                                <v-col cols=10 class="mx-auto">
                                    <v-text-field v-model="newItem.expDate" label="Expiration Date" placeholder="MM-DD-YYYY"></v-text-field>
                                </v-col>
    
                                <!-- Submit Button -->
                                <v-col cols=10 class="mx-auto text-center">
                                    <v-btn @click="addFoodItem" color="green" dark rounded large block >
                                        Submit
                                    </v-btn>
                                </v-col>

                                <!-- Alerts Section -->
                                <v-col cols=10 class="mx-auto" v-if="alerts.length > 0">
                                    <v-alert v-for="alert in alerts" :key="alert.message" :type="alert.type">
                                        {{alert.message}}
                                    </v-alert>

                                </v-col>
                            </v-form>
                        </v-card>
                    </v-row>

                    <!-- Fridge Row -->
                    <v-row class="mt-5" justify="center">
                        <v-col cols=12 class="display-2 text-center">
                            Fridge Contents
                        </v-col>
                        <v-col cols=10>
                            <v-card elevation=8>
                                <v-expansion-panels>
                                    <v-expansion-panel v-for="(item, i) in sortedFridge" :key="i">
                                        <v-expansion-panel-header >
                                            <v-row>
                                                <v-col class="pa-0 title" align-self="center">
                                                    {{item.name}}
                                                </v-col>
                                                <v-col class="pt-0 pl-0 pb-0 pr-4 text-right" align-self="center">
                                                    <v-btn icon large color="red" @click.stop="showDelete(i)">
                                                        <!-- When the user hovers over the trashcan, show the open trashcan -->
                                                        <v-icon>{{ item.icons.trashcan[item.icons.trashcan.state] }}</v-icon>
                                                    </v-btn>
                                                </v-col>
                                            </v-row> 
                                        </v-expansion-panel-header>
                                        
                                        <!-- If item is expired -->
                                        <v-expansion-panel-content v-if="checkExp(item.expDate) == 0">
                                            Expiration Date: <span class="font-weight-bold red--text">{{item.expDate}}</span>
                                        </v-expansion-panel-content>

                                        <!-- If item is expiring -->
                                        <v-expansion-panel-content v-if="checkExp(item.expDate) == 1">
                                            Expiration Date: <span class="font-weight-bold yellow--text">{{item.expDate}}</span>
                                        </v-expansion-panel-content>

                                        <!-- If item is not expired -->
                                        <v-expansion-panel-content v-if="checkExp(item.expDate) == 2">
                                            Expiration Date: <span class="font-weight-bold">{{item.expDate}}</span>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>


                <!-- Dialogs -->
                <v-dialog v-model="showDeleteDialog" color="white" width="375">
                    <v-card>
                        <!-- Title -->
                        <v-card-title class="red white--text">
                            <v-spacer></v-spacer>
                            Are You Sure You Want to Delete?
                            <v-spacer></v-spacer>
                        </v-card-title>

                        <!-- Actions -->
                        <v-card-actions>
                            <v-btn icon color="green" aria-label="confirm delete button" @click="deleteItem">
                                <v-icon large>mdi-check</v-icon>
                            </v-btn>
                            <v-spacer></v-spacer>
                            <v-btn icon color="red" aria-label="cancel delete button" @click="cancelDelete">
                                <v-icon large>mdi-cancel</v-icon>
                            </v-btn>
                        </v-card-actions>

                    </v-card>
                </v-dialog>
            </v-content>

            <!-- Footer -->
            <v-footer app>
                <v-row>
                    <v-col class="text-right">
                        &copy; 2020 - <strong>De La Costa & Fortenberry</strong>
                    </v-col>
                </v-row>
            </v-footer>
        </v-app>
    </div>
    <!-- #endregion -->
    <!-- Vue.js -->
    <script src="Assets/JS/vue.js"></script>
    <!-- Vuex & VueRouter (TO-DO) -->
    <!-- Vuetify -->
    <script src="assets/JS/vuetify.js"></script>
    <!-- Custom Scripts -->
    <script src="Assets/JS/scripts.js"></script>
</body>
</html>