<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Experation App</title>
    <!-- Vuetify Needed CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- <link href="Assets/CSS/materialdesignicons.min.css" rel="stylesheet"> -->
    <link href="Assets/CSS/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="Assets/CSS/style.css">
</head>
<body>
    <!-- Vue App -->
    <!-- #region -->
    <div id="app">
        <!-- Vuetify App -->
        <v-app>
            <!-- Navigation/App Bar -->
            <!-- Side Drawer -->

            <!-- Content -->
            <v-content>
                <v-container>
                    <!-- V-container = Bootstrap Container = wrapper div == equal padding around the entire page and allows for flexbox and CSS grids inside of it -->
                    <v-row justify="center">
                        <!-- v-row == a row that allows a max of 12 columns inside - is a div element -->
                        <v-col cols=12 class="display-4 text-center">
                            {{ title }}
                        </v-col>
                    </v-row>

                    <!-- Add new Items Form -->
                    <v-row justify="center" class="mt-5">
                        <v-card elevation=8 class="pa-8" shaped>
                            <v-form>
                                <v-col cols=12 class="text-center display-2">
                                    Add New Item Into Fridge
                                </v-col>
                                <!-- Name -->
                                <v-col cols=10 class="mx-auto">
                                    <v-text-field v-model="newItem.name" label="Name" placeholder="Enter Name"></v-text-field>
                                </v-col>
        
                                <!-- Expiration Date -->
                                <v-col cols=10 class="mx-auto">
                                    <v-text-field v-model="newItem.expDate" label="Expiration Date" placeholder="MM-DD-YYYY"></v-text-field>
                                </v-col>
    
                                <!-- Submit Button -->
                                <v-col cols=10 class="mx-auto text-center">
                                    <v-btn @click="addFoodItem" color="green" dark rounded large block >
                                        Submit
                                    </v-btn>
                                </v-col>

                                <!-- Alerts Section -->
                                <v-col cols=10 class="mx-auto" v-if="alerts.length > 0">
                                    <v-alert v-for="alert in alerts" :key="alert.message" :type="alert.type">
                                        {{alert.message}}
                                    </v-alert>

                                </v-col>
                            </v-form>
                        </v-card>
                    </v-row>

                    <!-- Fridge Row -->
                    <v-row class="mt-5" justify="center">
                        <v-col cols=12 class="display-2 text-center">
                            Fridge Contents
                        </v-col>
                        <v-col cols=10>
                            <v-card elevation=8>
                                <v-expansion-panels>
                                    <v-expansion-panel v-for="(item, i) in sortedFridge" :key="i">
                                        <v-expansion-panel-header >
                                            <v-row>
                                                <v-col class="pa-0 title" align-self="center">
                                                    {{item.name}}
                                                </v-col>
                                                <v-col class="pt-0 pl-0 pb-0 pr-4 text-right" align-self="center">
                                                    <v-btn icon large color="red" @mouseover="trashcanHover(item, 1)" @mouseout="trashcanHover(item, 0)" @click.stop="test">
                                                        <!-- When the user hovers over the trashcan, show the open trashcan -->
                                                        <v-icon>{{ item.icons.trashcan[item.icons.trashcan.state] }}</v-icon>
                                                        
                                                    </v-btn>
                                                </v-col>
                                            </v-row> 
                                        </v-expansion-panel-header>
                                        
                                        <!-- If item is expired -->
                                        <v-expansion-panel-content v-if="checkExp(item.expDate) == 0">
                                            Expiration Date: <span class="font-weight-bold red--text">{{item.expDate}}</span>
                                        </v-expansion-panel-content>

                                        <!-- If item is expiring -->
                                        <v-expansion-panel-content v-if="checkExp(item.expDate) == 1">
                                            Expiration Date: <span class="font-weight-bold yellow--text">{{item.expDate}}</span>
                                        </v-expansion-panel-content>

                                        <!-- If item is not expired -->
                                        <v-expansion-panel-content v-if="checkExp(item.expDate) == 2">
                                            Expiration Date: <span class="font-weight-bold">{{item.expDate}}</span>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
            <!-- Footer -->
        </v-app>
    </div>
    <!-- #endregion -->
    <!-- Vue.js -->
    <script src="Assets/JS/vue.js"></script>
    <!-- Vuex & VueRouter (TO-DO) -->
    <!-- Vuetify -->
    <script src="assets/JS/vuetify.js"></script>
    <!-- Custom Scripts -->
    <script src="Assets/JS/scripts.js"></script>
</body>
</html>